[Unit]
Description=Secret Service provider backed by 1Password
Documentation=https://github.com/e-kulikov/op-secret-service

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=%h/.local/bin/op-secretd serve
NoNewPrivileges=yes
PrivateTmp=yes
